# Arquivos de compilação do LaTeX
*.aux
*.bbl
*.blg
*.brf
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.toc

# PDF gerado pela compilação (remova caso queira versionar o PDF final)
Spillover_article.pdf

# PDFs de referência
An introduction to descriptive statistics: A review and practical guide.pdf
An introduction to descriptive statistics_ A review and practical guide (Traduzido)).pdf

# Pasta IEEE
IEEE_Conference_Template/

# Datasets
*.zip
archive/
# analise_steam_indie.py
# Respostas_Analise_Indie.md
# run_analysis.py 
check.py
check2.py
check3.py
BaseTrabalho.md
Metodologia_Codigo.md
Respostas_Analise_Indie.md
run_analysis.py
